<html>
<head>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

    <body>
        <div class="card card-body bg-light">
            <img src=<%= image %> /> 
        </div>
    </body>
</html>